/*
    Theme Name: Self Love Sanctuary
    Theme URI: http://selflovesanctuary.com
    Description: Home site for the Self Love Sanctuary blog.
    Author: vongoh
    Author URI: http://www.bitbucket.com/vongoh
    Version: 1.0
    Tags: 
    Text Domain: sls 
    Template: genesis
    Template Version: 2.1
    License: GPL-3.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents

    - Imports
        - @font-face

    - HTML5 Reset
        - Baseline Normalize
        - Box Sizing
        - Float Clearing
    - Defaults
        - Typographical Elements
        - Headings
        - Objects
        - Gallery
        - Forms
        - Tables
        - Hard Rules
    - Structure and Layout
        - Site Containers
        - Column Widths and Positions
        - Column Classes
    - Common Classes
        - Genesis
        - Search Form
        - Titles
        - WordPress
    - Widgets
        - Featured Content
    - Plugins
        - Genesis eNews Extended
        - Genesis Latest Tweets
        - Jetpack
    - Before Header
    - Site Header
        - Title Area
        - Widget Area
    - Site Navigation
        - Header Navigation
        - Primary Navigation
        - Responsive Menu
    - Content Area
        - Welcome Message
        - Entries
        - After Entry
        - Pagination
        - Comments
    - Sidebar
    - Footer Widgets
    - Site Footer
    
    - Page Styles, Custom

    - Media Queries
        - max-width: 1139px
        - max-width: 1023px
        - max-width: 767px
*/
/* Web Fonts 
 ----------------------------------------------------------------*/

.clearfix {
  *zoom: 1;
}


.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}


.clearfix:after {
  clear: both;
}

/* ---------------------------------- */
/* Baseline Normalize
    normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr, .hr-after-entry {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
  box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f3f8f9;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  transition: all 0.1s ease-in-out;
}

::-moz-selection {
  background-color: #7891B2;
  color: #fff;
}

::selection {
  background-color: #7891B2;
  color: #fff;
}

a {
  color: #38678f;
  border-bottom: 1px dotted #b8b3d3;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: #333;
}

/* a:hover {
    color: #333;
} */
.content a.more-link {
  background-color: #95ADCC;
  border-radius: 3px;
  clear: both;
  color: snow;
  font-family: "Nunito", sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  padding: 10px;
  text-align: center;
}

.content a.more-link:hover {
  background-color: #7392bb;
  color: #e6e6e6;
}

p {
  margin: 0 0 36px;
  padding: 0;
}

strong {
  font-weight: 700;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 40px;
  padding-top: 36px;
  color: black;
  border-top: 1px solid #d2e0e2;
  border-bottom: 1px solid #d2e0e2;
}

blockquote p {
  font-size: 24px;
  font-size: 2.4rem;
  font-style: italic;
}

blockquote::before {
  content: "\201C";
  display: block;
  position: relative;
  height: 0;
  top: -32px;
  left: -30px;
  color: #999696;
  font-size: 72px;
}

cite {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3D3D3D;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 16px;
}

h1 {
  font-size: 39.056px;
}

h2 {
  font-size: 31.248px;
}

h3 {
  font-size: 25.08px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 20px;
}

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.gallery {
  overflow: hidden;
  margin-bottom: 28px;
}

.gallery-item {
  float: left;
  margin: 0;
  padding: 0 4px;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}

.gallery .gallery-item img {
  border: none;
  height: auto;
}

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
  background-color: #7891B2;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
  color: #fff;
  background-color: #d04943;
}

.entry-content .button:hover {
  color: #fff;
}

.button {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
}

tbody {
  border-bottom: 1px solid #ddd;
}

th,
td {
  text-align: left;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}

hr, .hr-after-entry {
  padding: 0;
  border: none;
  border-top: 2px solid #d2e0e2;
  color: #ccdbde;
  text-align: center;
}

hr:after, .hr-after-entry:after {
  content: '\262F';
  display: inline-block;
  position: relative;
  top: -0.85em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #F7FCFC;
}

.hr-after-entry:after {
  background: #f3f8f9;
}

/* Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1140px;
}

.single-post .site-inner {
  margin-top: 36px;
}

.content-sidebar-wrap {
  overflow: hidden;
}

.beautiful-landing .site-inner {
  max-width: 800px;
}

.site-inner {
  padding-top: 0px;
  clear: both;
}

.home .site-inner {
  margin-top: 0;
}

/* Column Widths and Positions
--------------------------------------------- */
.content {
  float: right;
  padding-top: 10px;
  width: 755px;
}

.content-sidebar .content {
  float: left;
}

.full-width-content .content {
  width: 100%;
}

/* Sidebar */
.sidebar {
  float: right;
  width: 360px;
}

.sidebar-content .sidebar {
  float: left;
}

/* Column Classes
Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}

.one-third,
.two-sixths {
  width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}

.one-fourth {
  width: 23.076923076923077%;
}

.three-fourths {
  width: 74.35897435897436%;
}

.one-sixth {
  width: 14.52991452991453%;
}

.five-sixths {
  width: 82.90598290598291%;
}

.first {
  clear: both;
  margin-left: 0;
}

/* Genesis
--------------------------------------------- */
.breadcrumb {
  border-bottom: 1px dotted #ddd;
  color: #999;
  font-size: 16px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.archive-description,
.author-box {
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  margin-bottom: 60px;
  padding: 40px 0;
}

.author-box-title {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden;
}

.entry-content .search-form {
  width: 50%;
}

.site-header .search-form {
  float: right;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Titles
--------------------------------------------- */
.entry-title a,
.widget .widget-title a {
  color: #333;
}

.entry-title a:hover {
  color: #666;
}

.widget-title {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.header-widget-area .widget-title {
  text-align: left;
}

/* .entry-title,
.welcome-message .widget-title {
  font-size: 30px;
  font-weight: 400;
}
 */
.after-entry .widget-title {
  font-size: 24px;
}

.archive-title {
  font-size: 20px;
  margin-bottom: 24px;
}

/* WordPress
--------------------------------------------- */
.avatar {
  float: left;
}

.author-box .avatar {
  height: 80px;
  margin-right: 30px;
  width: 80px;
}

.entry-comments .avatar {
  height: 50px;
  margin: 0 16px 24px 0;
  width: 50px;
}

.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone {
  margin-bottom: 12px;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

a.alignnone {
  display: inline-block;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

.entry-content .wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.gallery-caption,
.entry-content .gallery-caption {
  margin: 0 0 10px;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

.widget,
.widget li {
  word-wrap: break-word;
}

.widget li {
  list-style-type: none;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  margin: 0 0 0 40px;
}

.widget ul > li:last-child,
.widget p:last-child {
  margin-bottom: 0;
}

/* Featured Content
--------------------------------------------- */
.featured-content .entry {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0 0 24px;
}

.featured-content .entry-title {
  font-size: 24px;
  line-height: 1.2;
}

.featuredpage a {
  margin-bottom: 18px;
  border-bottom: none;
}

.optin-form-outer {
  margin: 0 auto;
  margin-bottom: 18px;
  border: thin solid #ccdbde;
  border-radius: 4px;
}

.optin-form-outer #optinforms-form5-container {
  margin: 0;
}

.optin-form-outer #optinforms-form5 {
  padding-bottom: 36px;
  margin: 0;
}

.optin-form-outer #optinforms-form5-title {
  font-style: italic;
}

.optin-form-outer #optinforms-form5-container-right {
  margin-top: 36px;
}

/* Genesis eNews Extended
--------------------------------------------- */
.enews-widget {
  color: #999;
}

.enews-widget input {
  box-shadow: none;
  margin-bottom: 15px;
  margin-right: -4px;
  padding: 14px 24px 15px;
  width: 100%;
}

.after-entry .enews-widget input {
  border: none;
}

.sidebar .enews-widget input {
  margin-right: 0;
  padding: 12px 20px 15px;
}

.content .enews-widget input:focus {
  border: none;
}

.enews-widget input[type="submit"] {
  margin: 0;
  padding: 16px 24px 15px;
}

.enews form + p {
  margin-top: 24px;
}

/* Genesis Latest Tweets
--------------------------------------------- */
.latest-tweets ul li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.latest-tweets .tweet-details a,
.latest-tweets .tweet-details a:visited {
  color: #999;
  font-size: 16px;
  text-decoration: none;
}

.latest-tweets .tweet-details a:hover {
  color: #333;
}

/* Jetpack
--------------------------------------------- */
img#wpstats {
  display: none;
}

/* Before Header
--------------------------------------------- */
.before-header {
  line-height: 1;
  text-align: center;
}

.before-header .wrap {
  border-bottom: 1px dotted #ddd;
  padding: 20px 0;
}

.before-header p {
  line-height: 1.625;
}

.before-header p:last-child {
  margin-bottom: 0;
}

.site-header .wrap {
  padding: 9px 36px 18px 0;
}

.site-header {
  margin-bottom: 36px;
  background-color: #EBF1F2;
  box-shadow: 0px 1px 1px 0px #ccdbde;
}

.title-area {
  float: left;
  padding-top: 18px;
  padding-left: 36px;
}

.site-title {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.site-title a,
.site-title a:hover {
  max-width: 300px;
  color: #333;
  border-bottom: 0;
  display: block;
}

.site-description {
  display: block;
  height: 0;
  margin-bottom: 0;
  text-indent: -9999px;
}

.header-full-width.header-image .site-title a {
  background-position: center !important;
  margin: 0;
}

/* Logo, hide text */
.header-image {
  width: 100%;
}

.header-image .site-title a {
  float: left;
  min-height: 48px;
  width: 100%;
}

/* Full width header, no widgets */
.header-full-width .title-area,
.header-full-width .site-title {
  width: 100%;
}

.header-image .site-title a {
  display: block;
  text-indent: -9999px;
}

/* Widget Area
--------------------------------------------- */
.site-header .widget-area {
  float: right;
  text-align: right;
}

.welcome-message .textwidget {
  font-size: 32px;
  text-align: center;
  font-style: italic;
  letter-spacing: 1.5;
}

#recent-posts-3 ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

#recent-posts-3 ul li {
  margin-bottom: 18px;
  padding-left: 1.5em;
  background-image: url(images/list-bullet-heart.png);
  background-repeat: no-repeat;
  background-position: 0 0.5em;
  font-weight: bold;
}

.AdWidget_ImageWidget {
  margin: 0;
  text-align: center;
}

.nav-header {
  padding-top: 9px;
}

.genesis-nav-menu {
  width: 100%;
  clear: both;
  color: black;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.genesis-nav-menu a {
  padding-top: 18px;
  padding-right: 1.5rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  display: block;
  position: relative;
  border-bottom: 0;
  color: #38678f;
  font-size: 16px;
  letter-spacing: 4px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #7891B2;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
  color: #666;
}

.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 20px;
  position: relative;
  width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  letter-spacing: 4px;
  list-style-type: none;
  padding: 20px 0;
  text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu > .rss > a {
  margin-left: 40px;
}

.genesis-nav-menu > .search {
  padding: 4px 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .sub-menu {
  border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */
/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  margin-bottom: -1px;
  text-align: center;
}

.responsive-menu-icon::before {
  padding-top: 9px;
  margin: 0 auto;
  display: none;
  content: "\f333";
  font: normal 39px/1 'dashicons';
  color: #030303;
}

/* Welcome Message
--------------------------------------------- */
.welcome-message a {
  display: block;
  border-bottom: 0;
}

.welcome-message .textwidget {
  font-family: 'nunito';
  font-style: italic;
}

.welcome-message .widget {
  margin-bottom: 40px;
}

.welcome-message .widget:last-child {
  margin-bottom: 0;
}

.welcome-message .widget-title {
  text-align: left;
  text-transform: none;
}

/* Entries
--------------------------------------------- */
.entry,
.page.page-template-page_blog-php .entry {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.content .entry:last-of-type,
.page.page-template-page_blog-php .entry:last-of-type {
  border: medium none;
  margin: 0;
}

.page .entry,
.single .entry {
  border-bottom: none;
  margin-bottom: 40px;
  padding: 0;
}

.page.beautiful-landing .entry {
  margin-bottom: 0;
}

.entry-content ol,
.entry-content ul,
.quote-caption {
  margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-meta {
  color: #999;
  font-size: 16px;
}

.entry-content p:firstchild {
  margin-top: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-comments-link::before {
  content: "/";
  margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}

/* Posts 
-----------------------------------------*/
.content .post {
  padding: 36px;
  margin-bottom: 36px !important;
}

/* Pages 
-----------------------------------------*/
.content .page {
  padding: 36px;
  margin-bottom: 36px !important;
}

/* After Entry
--------------------------------------------- */
.after-entry {
  background-color: #f5f5f5;
  margin-bottom: 60px;
  padding: 40px;
}

.after-entry .widget {
  margin-bottom: 40px;
}

.after-entry .widget-title {
  text-align: left;
  text-transform: none;
}

.after-entry p:last-child,
.after-entry .widget:last-child {
  margin-bottom: 0;
}

.after-entry li {
  margin-bottom: 6px;
}

/* Pagination
--------------------------------------------- */
.pagination {
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  overflow: hidden;
  padding: 20px 36px;
}

.archive-pagination {
  margin-bottom: 80px;
}

.pagination li {
  display: inline;
}

.pagination li a {
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  padding: 8px 12px;
}

.pagination li a:hover,
.pagination li.active a {
  background-color: #7891B2;
  color: #fff;
}

/* Comments
--------------------------------------------- */
.entry-comments,
.entry-comments .comment,
.entry-comments .comment-reply,
.ping-list {
  margin-bottom: 40px;
}

.entry-comments .comment,
.ping-list {
  border-bottom: 1px dotted #ddd;
}

.ping-list {
  padding-bottom: 20px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
  margin: 0;
}

.entry-comments .comment {
  clear: both;
}

p.comment-meta,
p.form-submit {
  margin-bottom: 20px;
}

.entry-comments .children .comment {
  border: none;
}

.comment-respond label {
  display: block;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
}

.comment-list ul.children {
  margin-left: 40px;
}

.ping-list .reply {
  display: none;
}

.entry,
.entry:last-of-type,
.widget_recent_entries {
  padding: 36px;
  border-radius: 4px !important;
  border: 1px solid !important;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
  border-radius: 4px;
  background-color: #F7FCFC;
}

.sidebar {
  font-size: 16px;
  padding-top: 12px;
}

.sidebar p:last-child {
  margin-bottom: 0;
}

.sidebar li {
  margin-bottom: 6px;
  word-wrap: break-word;
}

.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: 36px;
}

/* C - Lightweight Social Icons --------------------------------- */
.lsi-social-icons li.lsi-social-facebook a {
  margin-right: 9px;
  background-color: #3b5998 !important;
}

.lsi-social-icons li.lsi-social-facebook a:hover {
  background-color: #466ab5 !important;
}

.lsi-social-icons li.lsi-social-twitter a {
  margin-right: 9px;
  background-color: #00abf0 !important;
}

.lsi-social-icons li.lsi-social-twitter a:hover {
  background-color: #1abdff !important;
}

.lsi-social-icons li.lsi-social-youtube a {
  margin-right: 9px;
  background-color: #CC6063 !important;
}

.lsi-social-icons li.lsi-social-youtube a:hover {
  background-color: #d67f81 !important;
}

/* Split Sidebars
--------------------------------------------- */
.split-sidebars .aligncenter {
  margin: 0 auto 12px;
}

.split-sidebars .widget li li {
  margin: 0 0 0 20px;
}

.split-sidebar-left,
.split-sidebar-right {
  width: 160px;
}

.split-sidebar-left {
  float: left;
}

.split-sidebar-right {
  float: right;
}

/* Bottom Sidebar
--------------------------------------------- */
.bottom-sidebar {
  clear: both;
}

.bottom-sidebar .textwidget {
  padding: 144px 36px;
  border: 1px solid #ccc;
  background-color: #EBF1F2;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

.footer-widgets {
  padding: 60px 0 20px;
  clear: both;
  background-color: #EBF1F2;
  box-shadow: 0px -1px 1px 0px #ccdbde;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 340px;
}

.footer-widgets-1 {
  margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 8px;
  padding-bottom: 8px;
  word-wrap: break-word;
}

.footer-widgets li li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: #EBF1F2;
  font-size: 16px;
  padding: 40px 0;
  text-align: center;
}

.site-footer a {
  color: #666;
}

.site-footer a:hover {
  color: #7891B2;
}

.site-footer p {
  margin-bottom: 0;
}

.sls-stories-outer {
  margin-bottom: 18px;
  padding: 36px;
  background-color: #f3f8f9;
  border: thin solid #ccdbde;
  border-radius: 4px;
}

.sls-stories-outer h1 {
  text-align: center;
}

.sls-stories-outer p {
  font-size: 22px;
}

/*
Media Queries
---------------------------------------------------------------------------------------------------- */
/* @media only screen and (max-width: 1139px) {
  .site-inner,
  .wrap {
    max-width: 960px;
  }
  .content,
  .site-header .widget-area {
    width: 620px;
  }

  .site-header .widget-area,
  .title-area {
    width: 100%;
  }

  .site-header .widget-area,
  .title-area {
    text-align: center;
  }

  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar {
    width: 300px;
  }
  .footer-widgets-1 {
    margin-right: 30px;
  }
  .split-sidebar-left,
  .split-sidebar-right {
    width: 100%;
  }
}  */
@media only screen and (max-width: 1139px) {
  .beautiful-landing .site-inner,
  .site-inner,
  .wrap {
    max-width: 1000px;
  }
  .single-post .site-inner {
    margin-top: 18px;
  }
  .site-header .wrap {
    padding: 9px 36px 9px 0;
  }
  .site-header {
    margin-bottom: 18px;
  }
  .title-area {
    float: left;
    padding-top: 18px;
    padding-bottom: 9px;
    padding-left: 36px;
  }
  .welcome-message img {
    max-width: 728px;
  }
  .header-image .site-title a {
    background-position: center !important;
    margin: 0;
  }
  .content,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar-primary {
    width: 100%;
  }
  .nav-primary .genesis-nav-menu.responsive-menu {
    padding-bottom: 0;
  }
  .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
  .genesis-nav-menu.responsive-menu {
    display: inline-block;
  }
  .genesis-nav-menu.responsive-menu .menu-item,
  .responsive-menu-icon {
    display: inline-block;
    float: none;
  }
  .genesis-nav-menu.responsive-menu .menu-item {
    margin: 0;
  }
  .genesis-nav-menu.responsive-menu .menu-item {
    display: inline-block;
    float: none;
    text-align: left;
  }
  .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static;
  }
  .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu a,
  .genesis-nav-menu.responsive-menu a:hover {
    background: none;
    line-height: 1;
    padding: 16px 20px;
  }
  .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer;
  }
  .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px;
  }
  .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "\f347";
    float: right;
    font: normal 16px/1 'dashicons';
    height: 16px;
    padding: 16px 20px;
    right: 0;
    text-align: right;
    z-index: 9999;
  }
  .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343";
  }
  .genesis-nav-menu.responsive-menu .sub-menu {
    border: none;
    left: auto;
    opacity: 1;
    padding-left: 25px;
    position: relative;
    transition: opacity .4s ease-in-out;
    width: 100%;
    z-index: 99;
  }
  .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    margin: 0;
  }
  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu .sub-menu li a,
  .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    background: none;
    border: none;
    padding: 12px 20px;
    position: relative;
    width: 100%;
  }
  .post-538 img {
    text-align: center !important;
  }
  .footer-widgets-1 {
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .site-header .wrap {
    padding: 9px 36px 9px 0;
  }
  .site-header {
    margin-bottom: 18px;
  }
  .title-area {
    float: left;
    padding-top: 18px;
    padding-bottom: 9px;
    padding-left: 36px;
  }
  .genesis-nav-menu.responsive-menu .menu-item,
  .responsive-menu-icon {
    display: none;
    float: none;
  }
  .genesis-nav-menu.responsive-menu .menu-item {
    display: block;
    float: none;
    text-align: left;
  }
  .welcome-message img {
    max-width: 93%;
  }
  .footer-widgets,
  .site-footer {
    padding-left: 5%;
    padding-right: 5%;
  }
  .site-inner {
    padding: 18px 0%;
  }
  .content {
    padding-top: 0;
  }
  .pagination li a {
    margin-bottom: 4px;
  }
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .site-header .wrap {
    padding: 9px 36px 9px 0;
  }
  .site-header {
    margin-bottom: 18px;
  }
  .title-area {
    float: left;
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 36px;
  }
  .site-title img {
    max-width: 83%;
  }
  .site-header .widget-area {
    float: none;
  }
  .site-header .widget-area .responsive-menu-icon {
    float: none;
  }
  .nav-primary .wrap {
    padding-bottom: 0;
  }
  .genesis-nav-menu.responsive-menu {
    max-width: 70%;
    margin: 0 auto;
  }
  .genesis-nav-menu.responsive-menu .menu-item {
    margin-left: 36px;
    display: block;
    float: none;
  }
}

/* // CSS Reset
@import '08-reset';

// Element Defaults
@import '09-defaults';

// Stucture & Layout
@import '10-structure-layout';

// @import '10.5-structure-layout-mobile';

// Common Classes
@import '11-common-classes';

// Widgets
@import '12-widgets';

// Plugins
@import '13-plugins';

// Site Header
@import '14-site-header';

// Site Navigation
@import '15-site-navigation';

// Content Area
@import '16-content-area';

// Sidebars
@import '17-sidebars';

// Site Footer
@import '18-site-footer';

// Media Queries
@import '19-media-queries';

// @import '19.5-media-queries-mobile';

// Print Styles
@import '20-print-styles'; */
