
// GENESIS HEADER & TOC 
// ====================================================================

/*
    Theme Name: Self Love Sanctuary
    Theme URI: http://selflovesanctuary.com
    Description: Home site for the Self Love Sanctuary blog.
    Author: vongoh
    Author URI: http://www.bitbucket.com/vongoh
    Version: 1.0
    Tags: 
    Text Domain: sls 
    Template: genesis
    Template Version: 2.1
    License: GPL-3.0+
    License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents

    - Imports
        - @font-face

    - HTML5 Reset
        - Baseline Normalize
        - Box Sizing
        - Float Clearing
    - Defaults
        - Typographical Elements
        - Headings
        - Objects
        - Gallery
        - Forms
        - Tables
        - Hard Rules
    - Structure and Layout
        - Site Containers
        - Column Widths and Positions
        - Column Classes
    - Common Classes
        - Genesis
        - Search Form
        - Titles
        - WordPress
    - Widgets
        - Featured Content
    - Plugins
        - Genesis eNews Extended
        - Genesis Latest Tweets
        - Jetpack
    - Before Header
    - Site Header
        - Title Area
        - Widget Area
    - Site Navigation
        - Header Navigation
        - Primary Navigation
        - Responsive Menu
    - Content Area
        - Welcome Message
        - Entries
        - After Entry
        - Pagination
        - Comments
    - Sidebar
    - Footer Widgets
    - Site Footer
    
    - Page Styles, Custom

    - Media Queries
        - max-width: 1139px
        - max-width: 1023px
        - max-width: 767px
*/