
// ===========================================
// SELF LOVE SANCTUARY -- SITE COLORS
// ===========================================

// COLOR Variables
// ===========================================

// Greyscale ..
$black          : black;
$darkergrey     : mix($black, snow, 99%);
$darkgrey       : mix($black, snow, 75%);
$grey           : mix($black, snow, 40%);
$lightgrey      : mix($black, snow, 15%);
$lightergrey    : mix($black, snow, 7%);
$white          : snow;


// Site Colors, functional names
$clr-primary    : $black;        // Darkest
$clr-secondary  : $darkergrey;   // Darker    
$clr-accent     : $darkgrey;     // Dark
$clr-shadow     : darken(#EDF4F5,10%); 


// Site Colors, natural names
$clr-bluesky--dk: #EBF1F2; // Site Header background
$clr-bluesky--md: lighten(#F0F6F7, 1%); // Site Body background
$clr-bluesky--lt: #F7FCFC; // Text background


// Alert Colors, variables
$clr-info      : #4a8ec2;
$clr-success   : #73C84C;
$clr-error     : #D14F63;
$clr-warning   : #DE9A54;
// $clr-alert     : hsla(0.0, 0.0%, 89.0%, 0.8);
// $clr-invers    : hsla(0.0, 0.0%, 25.5%, 0.8);


// BACKGROUND Vars:

// Body Backgrounds, color 
// ===========================================
$clr-bg-body: $clr-bluesky--md;

// Page Layout Wrap
$clr-bg-l-outer: transparent;


// Major Layout Backgrounds, colors
// ===========================================

// Header Bg
$clr-bg-header : $clr-bluesky--dk;

// Content Bg (text contrast)
$clr-bg-content : $clr-bluesky--lt;

// Sidebar Bg
$clr-bg-sidebar : transparent;

// Footer Bg
$clr-bg-footer  : $clr-bluesky--dk;
 

// Background Texture, mixin
@mixin texture-background-body {
  background-color: $clr-bg--body;
  // background-image: url('../img/[BACKGROUND TEXTURE IMAGE]');
  background-repeat: repeat;
}

// Panel Backgrounds
$clr-bg-panel--1: $lightgrey;
$clr-bg-panel--2: $lightergrey;
