
// ====================================================================
// SELF LOVE SANCTUARY -- SITE ACCENTS
// ====================================================================

// Borders, Shadows, Radius, Gradients

$box-border--light: thin solid rgba(darken($clr-primary, 15%), 0.2);
$box-border--dark: thin solid rgba($clr-primary, 0.5);

$box-shadow: 0px 1px 1px 0px darken($clr-bg-header, 10%);

$text-shadow: 1px 1px 1px hsla(0.0, 0.0%, 0.0%, 0.5);

$border-radius--sm: 4px;
$border-radius--lg: 10px;

// Animation
$trans-duration: .3s;


// NAV Colors, Backgrounds & Heights (font vars below)
// ====================================================================

$clr-icon--nav: $black;
$clr-bg--nav: $grey;

// Set nav <li> height for no. of links
$nav-height--item: 2.5em;

// Set nav height accordingly to fit
$nav-height--full : 100vh;
$nav-height--fit  : 14em;

$nav-border       : none;