
// ====================================================================
// SELF LOVE SANCTUARY -- SITE SIZING & SPACING
// ====================================================================

// BASE FONT SIZE & LINE HEIGHT
$font-size--body        : 20px;
$line-height--body      : 1.8;


// BASELINE Calculated
// ====================================================================

$baseline           : ($font-size--body * $line-height--body) * 1;


// Baseline Variations
$baseline--qrtr     : $baseline / 4;
$baseline--half     : $baseline / 2;
$baseline--dble     : $baseline * 2;
$baseline--quad     : $baseline * 4;


// Breakpoints 
$phone-portrait  : 420px;
$phone-landscape : 600px;
$tablet-portrait : 768px;
$tablet-landscape: 960px;
$desktop         : 1200px;
$x-large         : 1300px;


// LAYOUT CONFIG (Susy Grids) 
// ====================================================================

$susy: (
    columns: 12,
    debug: (image: show, color: rgba(223, 240, 245, 0.8)),
    global-box-sizing: border-box
);
