

// ====================================================================
// GENISASS -- SITE TYPOGRAPHY
// ====================================================================

// TYPESCALES 
// ====================================================================

// [ Base font size & line height are set in _04-settings-sizing.scss ]


// MOBILE first typescale ----------------------------
$mega-size: 57.33px;
$kilo-size: 47.77px;

$h1-size: 32px;     // alpha 
$h2-size: 24px;     // beta
$h3-size: 22px;     // gamma
$h4-size: 18px;     // delta
$h5-size: 16px;     // epsilon

$milli-size: 13.33px;
$micro-size: 11.11px; 


// MINOR THIRD typescale (ratio: 1.2) --------------------------
$mega-size--min3: 47.784px;
$kilo-size--min3: 39.820px;

$h1-size--min3: 33.184px;       // alpha 
$h2-size--min3: 27.648px;       // beta
$h3-size--min3: 23.04px;        // gamma
$h4-size--min3: 19.2px;         // delta
$h5-size--min3: $font-size--body; // epsilon

$milli-size--min3: 13.328px;
$micro-size--min3: 11.106px;


// MAJOR THIRD typescale (ratio: 1.125) ------------------------
$mega-size--maj3: 49.442px;
$kilo-size--maj3: 43.949px;

$h1-size--maj3: 39.056px;       // alpha 
$h2-size--maj3: 31.248px;       // beta
$h3-size--maj3: 25.08px;        // gamma
$h4-size--maj3: 20px;           // delta
$h5-size--maj3: $font-size--body; // epsilon

$milli-size--maj3: 12.8px;
$micro-size--maj3: 11.377px;


// PERFECT FOURTH typescale (ratio: 1.333) ---------------------
$mega-size--per4: 89.754px;
$kilo-size--per4: 67.332px;

$h1-size--per4: 50.512px;       // alpha 
$h2-size--per4: 37.904px;       // beta
$h3-size--per4: 28.432px;       // gamma
$h4-size--per4: 21.328px;       // delta
$h5-size--per4: $font-size--body; // epsilon

$milli-size--per4: 12px;    
$micro-size--per4: 9.002px;


// TEXT MARGIN BOTTOMS
// ====================================================================

// Main Heading, bottom margin
$margin-bottom--heading   : $baseline;

// Subheading, bottom margin
$margin-bottom--subheading: $baseline--half;

// Paragraphs, bottom margin
$margin-bottom--body      : $baseline--half;


// FONT STYLES
// ====================================================================

// BRAND Font, family & color
$font-family--brand      : 'Nunito', sans-serif;
$clr-font--brand         : $black;

// HEADING Font, family & color
$font-family--heading   : 'Nunito', sans-serif;
$clr-font--heading      : #3D3D3D;

// SUBHEADING Font, family & color
$font-family--subheading: $font-family--heading;
$clr-font--subheading   : lighten($clr-font--heading, 5%);


// BODY FONT, family & color
// ====================================================================

$font-family--body      : 'Lato', sans-serif;
$clr-font--body         : $black;


// ALT Font ('alt'), family & color
$font-family--alt       : $helvetica;
$clr-font--alt          : $clr-font--subheading;

// NAV Font, family & color
$font-family--nav: $font-family--heading;
$clr-font--nav: $white;

// Font Weights
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--normal     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// LINKS
// ====================================================================

$clr-link--body     : darken(steelblue, 10%);

$clr-link--hover    : darken($clr-link--body, 20);
$clr-link--visited  : darken($clr-link--hover, 20);
$clr-link--focus    : darken($clr-link--visited, 20);