
// ====================================================================
// GENESIS - MIXINS
// ====================================================================

// The Clearfix, class and placeholder
%clearfix,
.clearfix {
    *zoom : 1;
    
    &:before,
    &:after {
        display: table;
        content : ""; 
    }
    
    &:after {
        clear : both; 
    } 
}


//  Typography & Spacing Mixins
 // ==================================================================== 

// // Font Rems, rems & fallback
// // USAGE: input $font-size value as UNITLESS
@mixin font-rems($font-size) {
  font-size : #{$font-size} + px;
  font-size : #{$font-size / 10} + rem; 
}

// Padding Rems, rems w/ px fallback
@mixin padding-rems($pad-size: 16) {
  padding : #{$pad-size}px;
  padding : #{$pad-size / 10}rem; 
}

@mixin margin-rems($mar-size: 16) {
  margin : #{$mar-size}px;
  margin : #{$mar-size / 10}rem; 
}
