

// ====================================
// HTML5 RESET
// ====================================


/* ---------------------------------- */
/* Baseline Normalize
    normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
  box-sizing: border-box;
}

/* Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table;
}


// Typographical Elements
// ====================================

html {
    font-size: 62.5%;
}

body {
  // Padding for fixed header
  // padding-top: 110px;
  background-color: $clr-bg-body;
  color: $clr-font--body;
  font-family: $font-family--body;
  font-size: $font-size--body;
  font-weight: $font-weight--light;
  line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  transition: all 0.1s ease-in-out;
}

::-moz-selection {
  background-color: #7891B2;
  color: #fff;
}

::selection {
  background-color: #7891B2;
  color: #fff;
}

a {
  color: $clr-link--body;
  border-bottom: 1px dotted lighten(#615796, 30%); 
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: #333;
}

/* a:hover {
    color: #333;
} */
.content a.more-link {
  background-color: #95ADCC;
  border-radius: 3px;
  clear: both;
  color: $white;
  font-family: $font-family--brand;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  padding: 10px;
  text-align: center;

  &:hover {
    background-color: darken(#95ADCC, 10%);
    color: darken(#fff, 10%);
  }


}



p {
  margin: 0 0 $baseline;
  padding: 0;
}

strong {
  font-weight: 700;
}

ol,
ul {
  margin: 0;
  padding: 0;
}


blockquote {
  margin: 40px;
  padding-top: $baseline;
  color: $black;
  border-top: 1px solid darken($clr-bluesky--dk, 8%);
  border-bottom: 1px solid darken($clr-bluesky--dk, 8%);

  p {
    @include font-rems(24);
    font-style: italic;

  }
}

blockquote::before {
  content: "\201C";
  display: block;
  position: relative;
  height: 0;
  top: -32px;
  left: -30px;
  color: $grey;
  font-size: 72px;
}

cite {
  font-style: normal;
}



// Headings
// ====================================


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr-font--heading;
  font-family: $font-family--heading;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 16px;
}

h1 {
  font-size: $h1-size--maj3;
}

h2 {
  font-size: $h2-size--maj3;
}

h3 {
  font-size: $h3-size--maj3;
}

h4 {
  font-size: $h4-size--maj3;
}

h5 {
  font-size: $h5-size--maj3;
}

h6 {
  font-size: $font-size--body;
}


// Objects
// ====================================

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}


// Gallery
// ====================================

.gallery {
  overflow: hidden;
  margin-bottom: 28px;
}

.gallery-item {
  float: left;
  margin: 0;
  padding: 0 4px;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}

.gallery .gallery-item img {
  border: none;
  height: auto;
}



// Forms
// ====================================

input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
  font-size: 18px;
  font-weight: 300;
  padding: 16px;
  width: 100%;
}

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: #666;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #666;
  font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
  background-color: #7891B2;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
  color: #fff;
  background-color: #d04943;
}

.entry-content .button:hover {
  color: #fff;
}

.button {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}


// Tables
// ====================================

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%;
}

tbody {
  border-bottom: 1px solid #ddd;
}

th,
td {
  text-align: left;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ddd;
  padding: 6px 0;
}

// Hard Rules 
// ====================================

// C - Fancy HR's with Unicode char, light bluesky background
hr {
    padding: 0;
    border: none;
    border-top: 2px solid darken($clr-bluesky--dk, 8%);
    color: darken($clr-bluesky--dk, 10%);
    text-align: center;
}

hr:after {
    content: '\262F';
    display: inline-block;
    position: relative;
    top: -0.85em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: $clr-bluesky--lt;
}

// C - Fancy HR's with Unicode char, dark bluesky background
.hr-after-entry {
    @extend hr;
}

.hr-after-entry:after {
    @extend hr:after;
    background: $clr-bluesky--md;
}


// ====================================
// STRUCTURE AND LAYOUT
// ====================================


/* Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: 1140px;
}

// Add Space for Single Post
.single-post .site-inner {
  margin-top: $baseline;
}

.content-sidebar-wrap {
  overflow: hidden;
}

.beautiful-landing .site-inner {
  max-width: 800px;
}

.site-inner {
  padding-top: 0px;
  clear: both;

  .home & {
    margin-top: 0;
  }

}

/* Column Widths and Positions
--------------------------------------------- */

// C - Content, make wider 720px -> 755px 
.content {
  float: right;
  padding-top: 10px;
  width: 755px;
}

.content-sidebar .content {
  float: left;
}

.full-width-content .content {
  width: 100%;
}

/* Sidebar */
.sidebar {
  float: right;
  width: 360px;
}

.sidebar-content .sidebar {
  float: left;
}

/* Column Classes
Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}

.one-third,
.two-sixths {
  width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}

.one-fourth {
  width: 23.076923076923077%;
}

.three-fourths {
  width: 74.35897435897436%;
}

.one-sixth {
  width: 14.52991452991453%;
}

.five-sixths {
  width: 82.90598290598291%;
}

.first {
  clear: both;
  margin-left: 0;
}



// ====================================
// COMMON CLASSES
// ====================================

/* Genesis
--------------------------------------------- */
.breadcrumb {
  border-bottom: 1px dotted #ddd;
  color: #999;
  font-size: 16px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}



.archive-description,
.author-box {
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  margin-bottom: 60px;
  padding: 40px 0;
}

.author-box-title {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden;
}

.entry-content .search-form {
  width: 50%;
}

.site-header .search-form {
  float: right;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Titles
--------------------------------------------- */
.entry-title a,
.widget .widget-title a {
  color: #333;
}

.entry-title a:hover {
  color: #666;
}

.widget-title {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
  text-transform: uppercase;
}

.header-widget-area .widget-title {
  text-align: left;
}

// C - Remove redundant styles, inteferes with default 
// heading sizes
/* .entry-title,
.welcome-message .widget-title {
  font-size: 30px;
  font-weight: 400;
}
 */

.after-entry .widget-title {
  font-size: 24px;
}

.archive-title {
  font-size: 20px;
  margin-bottom: 24px;
}


/* WordPress
--------------------------------------------- */
.avatar {
  float: left;
}

.author-box .avatar {
  height: 80px;
  margin-right: 30px;
  width: 80px;
}

.entry-comments .avatar {
  height: 50px;
  margin: 0 16px 24px 0;
  width: 50px;
}

.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

a.aligncenter img {
  display: block;
  margin: 0 auto;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone {
  margin-bottom: 12px;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

a.alignnone {
  display: inline-block;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

.entry-content .wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.gallery-caption,
.entry-content .gallery-caption {
  margin: 0 0 10px;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}



// ====================================
// WIDGETS 
// ====================================

.widget,
.widget li {
  word-wrap: break-word;
}

.widget li {
  list-style-type: none;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  margin: 0 0 0 40px;
}

.widget ul > li:last-child,
.widget p:last-child {
  margin-bottom: 0;
}

/* Featured Content
--------------------------------------------- */
.featured-content .entry {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0 0 24px;
}

.featured-content .entry-title {
  font-size: 24px;
  line-height: 1.2;
}

// C - Gap on bottom of featured page image, primary sidebar
.featuredpage a {
  margin-bottom: $baseline--half;
  border-bottom: none;
}

// C - Promo Widget, primary sidebar under social icons
// ====================================

// #text-3 .widget-wrap {
//   padding: $baseline--quad;
//   border: 1px solid $grey;
//   background-color: $lightgrey;
//   font-weight: bold;
//   // @include font-rems(16);
// }


// ====================================
// PLUGINS 
// ====================================

// Optin Forms - optin box
// ====================================
.optin-form-outer {
    // max-width: 92%;
    margin: 0 auto;
    margin-bottom: $baseline--half;
    border: thin solid #ccdbde;
    border-radius: $border-radius--sm;

    #optinforms-form5-container {
        margin: 0;
    }

    #optinforms-form5 {
        padding-bottom: $baseline;
        margin: 0;

        // @include breakpoint() {

        // }

    }

    #optinforms-form5-title{
        // font-family: 'Nunito', sans-serif;
        font-style: italic;
    }

    #optinforms-form5-subtitle {
        // @include font-rems(25);
        // font-size: $h3-size--maj3;
    }

    #optinforms-form5-container-right {
        margin-top: $baseline;
    }
}



/* Genesis eNews Extended
--------------------------------------------- */
.enews-widget {
  color: #999;
}

.enews-widget input {
  box-shadow: none;
  margin-bottom: 15px;
  margin-right: -4px;
  padding: 14px 24px 15px;
  width: 100%;
}

.after-entry .enews-widget input {
  border: none;
}

.sidebar .enews-widget input {
  margin-right: 0;
  padding: 12px 20px 15px;
}

.content .enews-widget input:focus {
  border: none;
}

.enews-widget input[type="submit"] {
  margin: 0;
  padding: 16px 24px 15px;
}

.enews form + p {
  margin-top: 24px;
}

/* Genesis Latest Tweets
--------------------------------------------- */
.latest-tweets ul li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.latest-tweets .tweet-details a,
.latest-tweets .tweet-details a:visited {
  color: #999;
  font-size: 16px;
  text-decoration: none;
}

.latest-tweets .tweet-details a:hover {
  color: #333;
}

/* Jetpack
--------------------------------------------- */
img#wpstats {
  display: none;
}


/* Before Header
--------------------------------------------- */
.before-header {
  line-height: 1;
  text-align: center;
}

.before-header .wrap {
  border-bottom: 1px dotted #ddd;
  padding: 20px 0;
}

.before-header p {
  line-height: 1.625;
}

.before-header p:last-child {
  margin-bottom: 0;
}


// // C - Decorative top bar strip
// .top-bar {
//   min-height: $baseline--half;
//   background-color: $black;
// }

// ====================================
// SITE HEADER 
// ====================================

// Site Header Wrap, padding
.site-header .wrap {
  padding: $baseline--qrtr $baseline $baseline--half 0;
}

// C - Site Header, margin / bg color / shadow
.site-header {
  margin-bottom: $baseline;
  background-color: $clr-bg-header;
  box-shadow: $box-shadow;
}


// .beautiful .site-header-banner {
//   height: 200px;
//   margin-bottom: 24px;
// }

 
// Title Area
// ====================================

// C - Adjust logo vertically to center
.title-area {
  float: left;
  padding-top: $baseline--half;
  padding-left: $baseline;
  // width: 450px;
}

.site-title {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

// C- Site Logo anchor styles & sizing
.site-title a,
.site-title a:hover {
  // Set max width of site logo
  max-width: 300px;
  // max-height: 55px;
  color: #333;
  border-bottom: 0;
  display: block;
}

.site-description {
  display: block;
  height: 0;
  margin-bottom: 0;
  text-indent: -9999px;
}

.header-full-width.header-image .site-title a {
  background-position: center !important;
  margin: 0;
}

/* Logo, hide text */
.header-image {
  width: 100%;
}

.header-image .site-title a {
  float: left;
  min-height: 48px;
  width: 100%;
}

/* Full width header, no widgets */
.header-full-width .title-area,
.header-full-width .site-title {
  width: 100%;
}

.header-image .site-title a {
  display: block;
  text-indent: -9999px;
}

/* Widget Area
--------------------------------------------- */
.site-header .widget-area {
  float: right;
  text-align: right;
  // width: 600px;
}

// C - Home Page, Welcome Message widget
.welcome-message .textwidget {
  font-size: 32px;
  text-align: center;
  font-style: italic;
  letter-spacing: 1.5;
}


// C - Primary Sidebar, Recent Posts widget
#recent-posts-3 ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;

    li {
        margin-bottom: $baseline--half;
        padding-left: 1.5em;
        background-image: url(images/list-bullet-heart.png);
        background-repeat: no-repeat;
        background-position: 0 0.5em;
        font-weight: bold;
        // list-style: square outside none;
    }

}


// C - Primary Sidebar, WP ad widget
.AdWidget_ImageWidget {
    margin: 0;
    text-align: center;
}


// Include skip links


// ====================================
// SITE NAVIGATION
// ====================================

.nav-header {
    padding-top: $baseline--qrtr;
}


.genesis-nav-menu {
  width: 100%;
  clear: both;
  color: $black;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin: 0;
  text-align: left;
}

.genesis-nav-menu a {
  padding-top: $baseline--half;
  padding-right: 1.5rem;
  padding-bottom: 0;
  padding-left: 1.5rem;
  display: block;
  position: relative;
  border-bottom: 0;
  color: $clr-link--body;
  font-size: 16px;
  letter-spacing: 4px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: #7891B2;
}

.genesis-nav-menu .sub-menu .current-menu-item > a {
  color: #666;
}

.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase;
}

.genesis-nav-menu .sub-menu {
  left: -9999px;
  opacity: 0;
  position: absolute;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 20px;
  position: relative;
  width: 200px;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  display: inline-block;
  float: right;
  letter-spacing: 4px;
  list-style-type: none;
  padding: 20px 0;
  text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0;
}

.genesis-nav-menu > .rss > a {
  margin-left: 40px;
}

.genesis-nav-menu > .search {
  padding: 4px 0 0;
}

/* Site Header Navigation
--------------------------------------------- */
.site-header .sub-menu {
  border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
  margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
  
}


/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  margin-bottom: -1px;
  text-align: center;
}

// C - Adjust menu icon size, color
.responsive-menu-icon::before {
  padding-top: $baseline--qrtr;
  margin: 0 auto;
  display: none;
  content: "\f333";
  font: normal 39px/1 'dashicons';
  color: $darkergrey;
}



// ====================================
// CONTENT AREA
// ====================================

/* Welcome Message
--------------------------------------------- */
.welcome-message {
  // margin-top: $baseline--qrtr;
  // margin-bottom: $baseline--qrtr;
  // border-bottom: 1px dotted #ddd;

  & a {
    display: block;
    border-bottom: 0;
  }
}

.welcome-message .textwidget {
  // padding: $baseline;
  // background: $clr-bluesky--dk;
  font-family: 'nunito';
  font-style: italic;
  // outline: 1px solid $lightgrey;
}

.welcome-message .widget {
  margin-bottom: 40px;
}

.welcome-message .widget:last-child {
  margin-bottom: 0;
}

.welcome-message .widget-title {
  text-align: left;
  text-transform: none;
}

/* Entries
--------------------------------------------- */

.entry,
.page.page-template-page_blog-php .entry {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 40px;
  margin-bottom: 80px;
}


.content .entry:last-of-type,
.page.page-template-page_blog-php .entry:last-of-type {
  border: medium none;
  margin: 0;
}

.page .entry,
.single .entry {
  border-bottom: none;
  margin-bottom: 40px;
  padding: 0;
}

.page.beautiful-landing .entry {
  margin-bottom: 0;
}

.entry-content ol,
.entry-content ul,
.quote-caption {
  margin-bottom: 26px;
}

// C - Remove margin on bottom of first paragraph in blog listing / close gap on image
.entry-content p:first-of-type {
  // margin-bottom: 0;

    & + p {
        // margin-top: $baseline;
    }

}


.entry-content ol,
.entry-content ul {
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-meta {
  color: #999;
  font-size: 16px;
}

.entry-content p:firstchild {
  margin-top: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-comments-link::before {
  content: "/";
  margin: 0 6px 0 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}


/* Posts 
-----------------------------------------*/

// C - Padding around Post content, margin bottom
.content .post {
  padding: $baseline;
  margin-bottom: $baseline !important;

}

/* Pages 
-----------------------------------------*/

// C - Padding around Page content, margin bottom
.content .page {
  padding: $baseline;
  margin-bottom: $baseline !important;

}


/* After Entry
--------------------------------------------- */
.after-entry {
  background-color: #f5f5f5;
  margin-bottom: 60px;
  padding: 40px;
}

.after-entry .widget {
  margin-bottom: 40px;
}

.after-entry .widget-title {
  text-align: left;
  text-transform: none;
}

.after-entry p:last-child,
.after-entry .widget:last-child {
  margin-bottom: 0;
}

.after-entry li {
  margin-bottom: 6px;
}

/* Pagination
--------------------------------------------- */
.pagination {
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  overflow: hidden;
  padding: 20px $baseline;
}

.archive-pagination {
  margin-bottom: 80px;
}

.pagination li {
  display: inline;
}

.pagination li a {
  background-color: #eee;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  padding: 8px 12px;
}

.pagination li a:hover,
.pagination li.active a {
  background-color: #7891B2;
  color: #fff;
}

/* Comments
--------------------------------------------- */
.entry-comments,
.entry-comments .comment,
.entry-comments .comment-reply,
.ping-list {
  margin-bottom: 40px;
}

.entry-comments .comment,
.ping-list {
  border-bottom: 1px dotted #ddd;
}

.ping-list {
  padding-bottom: 20px;
}

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
  margin: 0;
}

.entry-comments .comment {
  clear: both;
}

p.comment-meta,
p.form-submit {
  margin-bottom: 20px;
}

.entry-comments .children .comment {
  border: none;
}

.comment-respond label {
  display: block;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
}

.comment-list ul.children {
  margin-left: 40px;
}

.ping-list .reply {
  display: none;
}

// Card borders, background, radius for entries
.entry,
.entry:last-of-type,
.widget_recent_entries
 {
    padding: $baseline;
    border-radius: $border-radius--sm !important;
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    border-radius: $border-radius--sm;
    background-color: $clr-bg-content;
}


// ====================================
// SIDEBAR 
// ====================================

.sidebar {
  font-size: 16px;
  padding-top: 12px;
}

.sidebar p:last-child {
  margin-bottom: 0;
}

.sidebar li {
  margin-bottom: 6px;
  word-wrap: break-word;
}

.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  margin-bottom: $baseline;
}



/* C - Lightweight Social Icons --------------------------------- */
.lsi-social-icons li.lsi-social-facebook a {
    margin-right: $baseline--qrtr;
    background-color: #3b5998 !important;

    &:hover {
        background-color: lighten(#3b5998, 8%) !important;
    }    

}

.lsi-social-icons li.lsi-social-twitter a {
    margin-right: $baseline--qrtr;
    background-color: #00abf0 !important;

    &:hover {
        background-color: lighten(#00abf0, 8%) !important;
    }    

}

.lsi-social-icons li.lsi-social-youtube a {
    margin-right: $baseline--qrtr;
    background-color: #CC6063 !important;

    &:hover {
        background-color: lighten(#CC6063, 8%) !important;
    }    

}



// Sidebar Primary
// ===============================================

.sidebar-primary {
  // margin-top: $baseline--quad;
}

/* Split Sidebars
--------------------------------------------- */
.split-sidebars .aligncenter {
  margin: 0 auto 12px;
}

.split-sidebars .widget li li {
  margin: 0 0 0 20px;
}

.split-sidebar-left,
.split-sidebar-right {
  width: 160px;
}

.split-sidebar-left {
  float: left;
}

.split-sidebar-right {
  float: right;
}

/* Bottom Sidebar
--------------------------------------------- */
.bottom-sidebar {
   clear: both;

   & .textwidget {
        padding: $baseline--quad $baseline;
        border: 1px solid #ccc;
        background-color: $clr-bluesky--dk;
        text-align: center;
        @include font-rems(16);
        font-weight: 700;
   } 
}



// Footer Widgets 
// ====================================


.footer-widgets {
  padding: 60px 0 20px;
  clear: both;
  background-color: $clr-bluesky--dk;
  box-shadow: 0px -1px 1px 0px #ccdbde;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 340px;
}

.footer-widgets-1 {
  margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}


.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets li {
  border-bottom: 1px dotted #ddd;
  margin-bottom: 8px;
  padding-bottom: 8px;
  word-wrap: break-word;
}

.footer-widgets li li {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: $clr-bg-footer;
  font-size: 16px;
  padding: 40px 0;
  text-align: center;
}

.site-footer a {
  color: #666;
}

.site-footer a:hover {
  color: #7891B2;
}

.site-footer p {
  margin-bottom: 0;
}


// Site Footer
// ====================================



// Page Styles, Custom
// ====================================

// SLS Stories Category Intro, panel styles
.sls-stories-outer {
  margin-bottom: $baseline--half;
  padding: $baseline;
  background-color: $clr-bluesky--md;
  border: thin solid #ccdbde;
  border-radius: $border-radius--sm;

  & h1 {
    text-align: center;
  }

    & p {
    font-size: 22px;
  }
}


/*
Media Queries
---------------------------------------------------------------------------------------------------- */
/* @media only screen and (max-width: 1139px) {
  .site-inner,
  .wrap {
    max-width: 960px;
  }
  .content,
  .site-header .widget-area {
    width: 620px;
  }

  .site-header .widget-area,
  .title-area {
    width: 100%;
  }

  .site-header .widget-area,
  .title-area {
    text-align: center;
  }

  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar {
    width: 300px;
  }
  .footer-widgets-1 {
    margin-right: 30px;
  }
  .split-sidebar-left,
  .split-sidebar-right {
    width: 100%;
  }
}  */




@media only screen and (max-width: 1139px) {
 

      .beautiful-landing .site-inner,
      .site-inner,
      .wrap {
        max-width: 1000px;
      }

    // Site Inner, margin top 1139px
    .single-post .site-inner {
        margin-top: $baseline--half;
    }

    // Site Header Wrap, padding 1139px
    .site-header .wrap {
      padding: $baseline--qrtr $baseline $baseline--qrtr 0;
    }

    // C - Site Header, margin 1139px
    .site-header {
      margin-bottom: $baseline--half;
    }

     
    // Title Area
    // ====================================

    // C - Adjust logo 
    .title-area {
      float: left;
      padding-top: $baseline--half;
      padding-bottom: $baseline--qrtr;
      padding-left: $baseline;
      // width: 450px;
    }


    // C - Welcome Message Area, banner add max width 1139px
    .welcome-message img {
    max-width: 728px;
    }

    .header-image .site-title a {
    background-position: center !important;
    margin: 0;
    }




    .content,
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3,
    .sidebar-primary {
      width: 100%;
    }

    .genesis-nav-menu,
    .site-description,
    .site-header .title-area,
    .site-header .search-form,
    .site-header .widget-area,
    .site-title {
        // text-align: center;
    }


    // Primary Navigation
    // ====================================

    // C - Nav Primary, menu padding 1139px
    .nav-primary .genesis-nav-menu.responsive-menu {
    padding-bottom: 0;
    }


    .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu,
    .genesis-nav-menu.responsive-menu {
    display: inline-block;
    }

    // Primary Navigation, menu & icon
    .genesis-nav-menu.responsive-menu .menu-item,
    .responsive-menu-icon {
    display: inline-block;
    float: none;
    }
    .genesis-nav-menu.responsive-menu .menu-item {
    margin: 0;
    }

        .genesis-nav-menu.responsive-menu {

        & .menu-item {
            display: inline-block;
            float: none;
            text-align: left;

            & a {
                // @include font-rems(16);
            }
        }
    }        



    .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static;
    }
    .genesis-nav-menu.responsive-menu .current-menu-item > a,
    .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
    .genesis-nav-menu.responsive-menu a,
    .genesis-nav-menu.responsive-menu a:hover {
    background: none;
    line-height: 1;
    padding: 16px 20px;
    }
    .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer;
    }
    .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px;
    }
    .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "\f347";
    float: right;
    font: normal 16px/1 'dashicons';
    height: 16px;
    padding: 16px 20px;
    right: 0;
    text-align: right;
    z-index: 9999;
    }
    .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343";
    }
    .genesis-nav-menu.responsive-menu .sub-menu {
    border: none;
    left: auto;
    opacity: 1;
    padding-left: 25px;
    position: relative;
    transition: opacity .4s ease-in-out;
    width: 100%;
    z-index: 99;
    }
    .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    margin: 0;
    }
    .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
    .genesis-nav-menu.responsive-menu .sub-menu li a,
    .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    background: none;
    border: none;
    padding: 12px 20px;
    position: relative;
    width: 100%;
    }


    // Img
    .post-538 img {
      text-align: center !important;
    }


    // Footer Widgets
    .footer-widgets-1 {
    margin-right: 0;
    }
}




@media only screen and (max-width: 768px) {
      
    // Site Header Wrap, padding 768px
    .site-header .wrap {
      padding: $baseline--qrtr $baseline $baseline--qrtr 0;
    }

    // C - Site Header, margin 768px
    .site-header {
      margin-bottom: $baseline--half;
    }

     
    // Title Area
    // ====================================

    // C - Adjust logo 
    .title-area {
      float: left;
      padding-top: $baseline--half;
      padding-bottom: $baseline--qrtr;
      padding-left: $baseline;
      // width: 450px;
    }

       // Primary Navigation, menu item & icon 768px
       // =========================================
      .genesis-nav-menu.responsive-menu .menu-item,
      .responsive-menu-icon {
        display: none;
        float: none;
      }
      

           // Primary nav, menu
          .genesis-nav-menu.responsive-menu {

            // Menu item
            & .menu-item {
                display: block;
                float: none;
                text-align: left;

                // Menu anchor
                & a {
                    // @include font-rems(16);
                    }
                }
            }        

      // C - Welcome Message Area, banner add max width 768px
      .welcome-message img {
        max-width: 93%;
      }

      
      .footer-widgets,
      .site-footer {
        padding-left: 5%;
        padding-right: 5%;
      }

      // C- Site Inner - adjust padding for mobile
      .site-inner {
        padding: $baseline--half 0%;
      }


      // C - Main Content, vert spacing at mobile 
      .content {
          padding-top: 0;
      }


      .pagination li a {
        margin-bottom: 4px;
      }
      .five-sixths,
      .four-sixths,
      .one-fourth,
      .one-half,
      .one-sixth,
      .one-third,
      .three-fourths,
      .three-sixths,
      .two-fourths,
      .two-sixths,
      .two-thirds {
        margin: 0;
        width: 100%;
      }
    }


@media only screen and (max-width: 440px) {

    // Site Header Wrap, padding 540px
    .site-header .wrap {
      padding: $baseline--qrtr $baseline $baseline--qrtr 0;
    }

    // C - Site Header, margin 540px
    .site-header {
      margin-bottom: $baseline--half;
    }

     
    // Title Area
    // ====================================

    // C - Adjust logo 
    .title-area {
      float: left;
      padding-top: $baseline--half;
      padding-bottom: 0;
      padding-left: $baseline;
      // width: 450px;
    }

        .site-title img {
            max-width: 83%;
        }




        // Header Widget Area 540px
        // ------------------------------------
        .site-header .widget-area {
            float: none;

            .responsive-menu-icon {
                float: none;
            }
        }


            // Primary Navigation 540px
            .nav-primary .wrap {
                padding-bottom: 0;
            }


            .genesis-nav-menu.responsive-menu {
                max-width: 70%;
                margin: 0 auto;

                & .menu-item {
                    margin-left: $baseline;
                    display: block;
                    float: none;
                    // text-align: center;

                    & a {
                        // @include font-rems(16);
                    }
                }
            }        

}
  



  





